@import 'reset.css';
@import 'status-bar.css';

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.index-header {
  margin-top: 70px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-header h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.header-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.4;
  margin-bottom: 70px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}

#login-form input {
  border: none;
  font-size: 18px;
  padding: 15px 0;
  margin-bottom: 15px;
}

#login-form input:focus {
  border-color: yellow;
  transition: yellow 3s ease-in-out;
}
#login-form input:first-child,
#login-form input:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form a {
  display: flex;
  justify-content: center;
}
